@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-filter-bar {
    position: -webkit-sticky;
  }
body {
    overflow-x: hidden;
  }

div.scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(206, 206, 206);
    border-radius: 70;
    width: fit-content;

  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c89b73;
    border-radius: 70;

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b58458
  }
